#myapp2 {
	padding: 50px;
	background-color: #eee;
}
#myapp2 h1 {
	font-size: 144px;
	font-family: sans-serif;
	color: #0080a8;
}

#myapp8 {
	padding: 50px;
	background-color: #fff;
}

.letter {
	padding: 10px;
	margin: 10px;
	background-color: #ffde00;
	color: #333;
	display: inline-block;
	font-family: monospace;
	font-size: 32px;
	text-align: center;
}
